[user]
  name = geek_duck
  email = define.oneself@gmail.com
[color]
  # colorの設定(以下のコマンドは自動で色つける)
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[github]
  user = geek_duck
  token = 8082cd17140c36424c411821505ec1a7
[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
  editor = emacs
