[user]
	name = geekduck
	email = duck1218+github@gmail.com
	username = geekduck
[color]
	# colorの設定(以下のコマンドは自動で色つける)
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	pager = delta 2>/dev/null || cat
	quotepath = false
	excludesfile = ~/.gitignore_global
[interactive]
    diffFilter = delta --color-only 2>/dev/null || cat
[diff]
	colorMoved = default
	compactionHeuristic = true
[grep]
	lineNumber = true
[merge]
	conflictstyle = diff3
[include]
	path = ~/.gitconfig.local
[alias]
	co = checkout
	s = status --short --branch
	st = status
	stt = status -s -b
	cm = commit -a
	b = branch -a -v
	br = browse-remote
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	f = fetch --prune
	fs = !git fetch --prune && git submodule update
	lg = log
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	fadd = !fish -c "fuzzy-add"
	fco = !fish -c "fuzzy-checkout-branch"
	ffixup = !fish -c "fuzzy-fixup"
[browse-remote "github.com"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	file = "https://{host}/{path}/blob/{short_rev}/{file}{line && \"#L%d\" % line}"
[init]
	templatedir = ~/.git_templates
[push]
	default = simple
[pull]
	ff = only
[ghq]
	root = ~/workspace
[delta]
    navigate = true
	side-by-side = true
	line-numbers = true
